        <footer class="container container4">
            <ul id="foot">
                <li class="footLogo"></li>
                <li class="terms">
                    <ul>
                        <li><a href="http://www.concordia.kr">HOME</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">제휴문의</a></li>
                        <li class="pullDown">
                            <h4>관련사이트</h4>
                            <ul class="familySite">
                                <li><a href="http://www.semtlenuri.com" target="_blank">셈틀누리</a></li>
                                <li><a href="http://www.stlibrary.co.kr" target="_blank">셈틀라이브러리</a></li>
                                <li><a href="http://www.semtlelibrary.co.kr" target="_blank">셈틀영어도서관</a></li>
                                <li><a href="http://www.jbmath.co.kr" target="_blank">배종수 수학</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="address">
                        <spon>회사명 : 셈틀누리 대표 : 홍영희</spon>
                        <spon>주소 : 경기도 성남시 분당구 정자동 24번지</spon>
                        <spon>사업자등록번호 : 120-11-60991</spon>
                        <spon>통신판매신고 : 제2010-경기성남-0539호</spon>
                        <spon>E-mail : smsemtle@naver.com</spon>
                        <spon>ⓒCopyright by semtlenuri</spon>
                    </p>
                </li>
                <li class="callCenter">
                    <h3>고객센터</h3>
                    <p>
                        TEL : 031-608-5656<br>
                        H P : 010-9582-2003<br>
                        평 일 : AM9 ~ PM6<br>
                        주 말 : AM9 ~ PM5
                    </p>
                </li>
            </ul>
        </footer>
