        <div id="bgTopHLine"></div>
        <header class="container">
            <div id="logo"><a href="/"></a></div>
            <nav id="gnb">
                <ul id="quickManu">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                    <li><a href="">즐겨찾기</a></li>
                </ul>
                <ul id="mainMenu">
                    <li><a href="sub1.html?idx=11" concordia="temp/temp11.html">CLC</a></li>
                    <li><a href="sub2.html?idx=21" concordia="temp/temp21.html">CIS</a></li>
                    <li><a href="sub3.html?idx=31" concordia="temp/temp31.html">Level 3 Foundation</a></li>
                    <li><a href="sub4.html?idx=41" concordia="temp/temp41.html">Sixth Form</a></li>
                    <li id="allViewBtn">
                        <a href="#"><img src="images/all_view_icon.png"></img></a>
                        <div id="allViewBox">
                            <h2>Concordia</h2>
                            <ul class="rowBox">
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CLC</h3>
                                        <li><a href="sub1.html?idx=11" concordia="temp/temp11">리스트</a></li>
                                        <li><a href="sub1.html?idx=12" concordia="temp/temp12">List</a></li>
                                        <li><a href="sub1.html?idx=13" concordia="temp/temp13">List</a></li>
                                        <li><a href="sub1.html?idx=14" concordia="temp/temp14">List</a></li>
                                        <li><a href="sub1.html?idx=15" concordia="temp/temp15">List</a></li>
                                        <h3 class="titleBox">Title</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CIS</h3>
                                        <li><a href="sub2.html?idx=21" concordia="temp/temp21">List</a></li>
                                        <li><a href="sub2.html?idx=22" concordia="temp/temp22">List</a></li>
                                        <li><a href="sub2.html?idx=23" concordia="temp/temp23">List</a></li>
                                        <li><a href="sub2.html?idx=24" concordia="temp/temp24">List</a></li>
                                        <li><a href="sub2.html?idx=25" concordia="temp/temp25">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Level 3 Foundation</h3>
                                        <li><a href="sub3.html?idx=31" concordia="temp/temp31">List</a></li>
                                        <li><a href="sub3.html?idx=32" concordia="temp/temp32">List</a></li>
                                        <li><a href="sub3.html?idx=33" concordia="temp/temp33">List</a></li>
                                        <li><a href="sub3.html?idx=34" concordia="temp/temp34">List</a></li>
                                        <li><a href="sub3.html?idx=35" concordia="temp/temp35">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Sixth Form</h3>
                                        <li><a href="sub4.html?idx=41" concordia="temp/temp41">List</a></li>
                                        <li><a href="sub4.html?idx=42" concordia="temp/temp42">List</a></li>
                                        <li><a href="sub4.html?idx=43" concordia="temp/temp43">List</a></li>
                                        <li><a href="sub4.html?idx=44" concordia="temp/temp44">List</a></li>
                                        <li><a href="sub4.html?idx=45" concordia="temp/temp45">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>Fun Learning</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
