        <div id="bgTopHLine"></div>
        <header class="container">
            <div id="logo"><a href="/"></a></div>
            <nav id="gnb">
                <ul id="quickManu">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                    <li><a href="">즐겨찾기</a></li>
                </ul>
                <ul id="mainMenu">
                    <li><a href="sub1.html?idx=11">CLC</a></li>
                    <li><a href="sub2.html?idx=21">CIS</a></li>
                    <li><a href="sub3.html?idx=31">Level 3 Foundation</a></li>
                    <li><a href="sub4.html?idx=41">Sixth Form</a></li>
                    <li id="allViewBtn">
                        <a href="#"><img src="layout/concordia/images/all_view_icon.png"></img></a>
                        <div id="allViewBox">
                            <h2>Concordia</h2>
                            <ul class="rowBox">
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CLC</h3>
                                        <li><a href="sub1.html?idx=11">리스트</a></li>
                                        <li><a href="sub1.html?idx=12">List</a></li>
                                        <li><a href="sub1.html?idx=13">List</a></li>
                                        <li><a href="sub1.html?idx=14">List</a></li>
                                        <li><a href="sub1.html?idx=15">List</a></li>
                                        <h3 class="titleBox">Title</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CIS</h3>
                                        <li><a href="sub2.html?idx=21">List</a></li>
                                        <li><a href="sub2.html?idx=22">List</a></li>
                                        <li><a href="sub2.html?idx=23">List</a></li>
                                        <li><a href="sub2.html?idx=24">List</a></li>
                                        <li><a href="sub2.html?idx=25">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Level 3 Foundation</h3>
                                        <li><a href="sub3.html?idx=31">List</a></li>
                                        <li><a href="sub3.html?idx=32">List</a></li>
                                        <li><a href="sub3.html?idx=33">List</a></li>
                                        <li><a href="sub3.html?idx=34">List</a></li>
                                        <li><a href="sub3.html?idx=35">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Sixth Form</h3>
                                        <li><a href="sub4.html?idx=41">List</a></li>
                                        <li><a href="sub4.html?idx=42">List</a></li>
                                        <li><a href="sub4.html?idx=43">List</a></li>
                                        <li><a href="sub4.html?idx=44">List</a></li>
                                        <li><a href="sub4.html?idx=45">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>Fun Learning</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
