<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Concordia International School, Concordia Language Center, CIS, CLC, concordia, 콩코디아, English, 영어">
    <meta name="author" content="semtlenuri">
    <title>CIS - Concordia International School</title>
    <link rel="shortcut" href="layout/concordia/images/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
    
    <link rel="stylesheet" href="layout/concordia/css/common.css" type="text/css" />
    <link rel="stylesheet" href="layout/concordia/css/index.css" type="text/css" />

    <script src="layout/concordia/js/jquery-1.4.4.min.js"></script>
    <script src="layout/concordia/js/jquery.easing.1.3.js"></script>
    <!--cafe24로 배포시 아래 치환자 이용하고 위 1줄코드는 주석처리(index.html에서만)-->
    <!--@js(layout/concordia/js/jquery.easing.1.3.js)-->

    <script type="text/javascript" src="layout/concordia/js/index.js"></script>
                    

</head>
<body>
    <div id="header" class="bgContainer">
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <section class="container">
            <div id="rollingBanner">
                <ul id="bannerMask">
                    <li>
                        <img src="layout/concordia/images/banner1.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Consulting</h2>
                            <p>Little drops of water make the mighty ocean.<br>작은 물방울이 힘 센 대양이 된다. (낙수 물이 바위를 뚫는다.)</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="layout/concordia/images/banner2.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Communication</h2>
                            <p>The road is always shorter when two people walk it.<br>길동무와 함께 하면 여정은 짧다.</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="layout/concordia/images/banner3.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Analysis</h2>
                            <p>The World that we live in is full of chance.<br>지금 살고 있는 세계는 기회로 가득 차 있다.</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="layout/concordia/images/banner4.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Life Style</h2>
                            <p>The hardest work is to go idle.<br>가장 하기 힘든 일은 아무 일도 안하는 것이다. </p>
                            <a href="#">More</a>
                        </div>
                    </li>
                </ul>
                <div id="buttons">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>
    </div><!--/////////////// End className bgContainer(banner)-->
    <div class="bgContainer">
        <section class="container">
            <ul class="rowContents content1">
                <div id="rightColumn">
                    <div id="login">login</div>
                    <div id="notice">notice</div>
                </div>
                <li>
                    <h3>Concordia Language Center<span>CLC 콩코디아 언어 센터</span></h3>
                    <a href="#"><div class="colorRect colorRect1"></div></a>
                    <p>CLC는 콩코디아가 언어학습에 지진 영혼을 위해 달래기 위한 체계적인 학습방법을 지원합니다.</p>
                </li>
                <li>
                    <h3>Concordia International School<span>CIS 콩코디아 국제학교</span></h3>
                    <a href="#"><div class="colorRect colorRect2"></div></a>
                    <p>CIS는 국내에만 머문 언어학습의 단조로움을 현장의 생생한 경험을 간접적으로 경험할 수 있게 합니다.</p>
                </li>
                <li>
                    <h3>Level 3 Foundation<span>기초 3 단계</span></h3>
                    <a href="#"><div class="colorRect colorRect3"></div></a>
                    <p>미취학 아동은 첫 단추가 중요합니다. 어떻게 언어경험을 제공할까 고민하는 부모님을 위해서 최선을 다 합니다.</p>
                </li>
                <li>
                    <h3>Template<span>템플릿</span></h3>
                    <a href="#"><div class="colorRect colorRect4"></div></a>
                    <p>메타스타일</p>
                </li>
            </ul>
            <ul class="rowContents content2">
                <li>
                    <h3>Concordia Language Center<span>CLC 콩코디아 언어 센터</span></h3>
                    <a href="#"><div class="colorRect colorRect1"></div></a>
                    <p>CLC는 콩코디아가 언어학습에 지진 영혼을 위해 달래기 위한 체계적인 학습방법을 지원합니다.</p>
                </li>
                <li>
                    <h3>Concordia International School<span>CIS 콩코디아 국제학교</span></h3>
                    <a href="#"><div class="colorRect colorRect2"></div></a>
                    <p>CIS는 국내에만 머문 언어학습의 단조로움을 현장의 생생한 경험을 간접적으로 경험할 수 있게 합니다.</p>
                </li>
                <li>
                    <h3>Level 3 Foundation<span>기초 3 단계</span></h3>
                    <a href="#"><div class="colorRect colorRect3"></div></a>
                    <p>미취학 아동은 첫 단추가 중요합니다. 어떻게 언어경험을 제공할까 고민하는 부모님을 위해서 최선을 다 합니다.</p>
                </li>
                <li>
                    <h3>Sixth Form<span>6번째 폼</span></h3>
                    <a href="#"><div class="colorRect colorRect4"></div></a>
                    <p>식쓰 폼이 무언지 궁금하시죠! 그러면 상담받으세요. 직시 최선을 다합니다.</p>
                </li>
            </ul>
        </section>
    </div><!--/////////////// End className bgContainer(section)-->
    <div id="footer" class="bgContainer bgContainer4">
    </div><!--/////////////// End className bgContainer(footer)-->
</body>
</html>