<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="import" href="head_sub.html" />
</head>
<body>
    <div id="header" class="bgContainer">
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <main class="container">
            <div id="location"></div>
            <div id="subArea">
                <section id="contantsArea" class="indiSub"><!--individual-->
                    <div id="contTitle">
                        <h2>Concordia Language Center</h2>
                        <sub>CLC 콩코디아 언어센터</sub>
                    </div>
                    <div id="contImage"></div>
                    <div id="contents">
                        <span id="loading">loading...</span>
                    </div>
                    <div id="contBottom">
                        "Encounter with the other side of the world"
                    </div>
                </section>
                <div id="rightSide" class="indiSub">
                    <ul id="lnb">
                        <h3>UK 고등과정</h3>
                        <li><a href="sub1.html?idx=11" concordia="temp/temp11.html">Sixth Form College</a></li>
                        <li><a href="sub1.html?idx=12" concordia="temp/temp12.html">Level3 Foundation</a></li>
                        <li><a href="sub1.html?idx=13" concordia="temp/temp13.html">Concordia College</a></li>
                        <li><a href="sub1.html?idx=14" concordia="temp/temp14.html">Writing에세이</a></li>
                        <li><a href="sub1.html?idx=15" concordia="temp/temp15.html">첨삭토론수업</a></li>
                        <div class="sideCall">
                            <h4>CALL CENTER</h4>
                            <p>
                                평 일 : AM9 ~ PM6<br>
                                주 말 : AM9 ~ PM5<br>
                                TEL : 031-608-5656<br>
                                H P : 010-9582-2003
                            </p>
                        </div>
                    </ul><!--end idName lnb-->
                    <a class="toTop" href="#top">
                        <div id="triangle">
                            <div>TOP</div>
                        </div>
                    </a>
                    <ul id="collectedLink"></ul>
                </div><!--/////// End idName rightSide-->
            </div>
        </main>
    </div><!--/////////////// End className bgContainer(main)-->
    <div id="footer" class="bgContainer bgContainer4">
    </div><!--/////////////// End className bgContainer(footer-->
</body>
</html>