<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Concordia International School, Concordia Language Center, CIS, CLC, concordia, 콩코디아, English, 영어">
    <meta name="author" content="semtlenuri">
    <title>CIS - Concordia International School</title>
    <link rel="shortcut" href="layout/concordia/images/favicon.ico" />

    <link rel="stylesheet" href="layout/concordia/css/common.css" type="text/css" />
    <link rel="stylesheet" href="layout/concordia/css/sub.css" type="text/css" />
    <link rel="stylesheet" href="layout/concordia/css/sub_contents.css" type="text/css" />
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 

    <script src="layout/concordia/js/jquery-1.4.4.min.js"></script>
    <script src="layout/concordia/js/jquery.easing.1.3.js"></script>
    <!--cafe24로 배포시 치환자 이용해야 하는데 index와 달리 치환자없이 충돌없이 잘됨. 위 2줄코드 유지 -->

    <script type="text/javascript" src="layout/concordia/js/sub.js"></script>
</head>
<body>
    <div id="header" class="bgContainer">
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <main class="container">
            <div id="location"></div>
            <div id="subArea">
                <section id="contantsArea" class="indiSub"><!--individual-->
                    <div id="contTitle">
                        <h2>Concordia Language Center</h2>
                        <sub>CLC 콩코디아 언어센터</sub>
                    </div>
                    <div id="contImage"></div>
                    <div id="contents">
                        <!--<span id="loading">loading...</span>-->
                    </div>
                    <div id="contBottom">
                        "Encounter with the other side of the world"
                    </div>
                </section>
                <div id="rightSide" class="indiSub">
                    <ul id="lnb">
                        <h3>UK 고등과정</h3>
                        <li><a href="sub1.html?idx=11">Sixth Form College</a></li>
                        <li><a href="sub1.html?idx=12">Level3 Foundation</a></li>
                        <li><a href="sub1.html?idx=13">Concordia College</a></li>
                        <li><a href="sub1.html?idx=14">Writing에세이</a></li>
                        <li><a href="sub1.html?idx=15">첨삭토론수업</a></li>
                        <div class="sideCall">
                            <h4>CALL CENTER</h4>
                            <p>
                                평 일 : AM9 ~ PM6<br>
                                주 말 : AM9 ~ PM5<br>
                                TEL : 031-608-5656<br>
                                H P : 010-9582-2003
                            </p>
                        </div>
                    </ul><!--end idName lnb-->
                    <a class="toTop" href="#top">
                        <div id="triangle">
                            <div>TOP</div>
                        </div>
                    </a>
                    <ul id="collectedLink"></ul>
                </div><!--/////// End idName rightSide-->
            </div>
        </main>
    </div><!--/////////////// End className bgContainer(main)-->
    <div id="footer" class="bgContainer bgContainer4">
    </div><!--/////////////// End className bgContainer(footer-->
</body>
</html>