<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="import" href="head_sub.html" />
</head>
<body>
    <div id="header" class="bgContainer">
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <main class="container">
            <div id="location"></div>
            <div id="subArea">
                <section id="contantsArea" class="indiSub"><!--individual-->
                    <div id="contTitle">
                        <h2>Sixth Form</h2>
                        <sub>Sixth Form</sub>
                    </div>
                    <div id="contImage"></div>
                    <div id="contents">
                        <span id="loading">loading...</span>
                    </div>
                    <div id="contBottom">
                        "Encounter with the other side of the world"
                    </div>
                </section>
                <div id="rightSide" class="indiSub">
                    <ul id="lnb">
                        <h3>Sixth Form</h3>
                        <li><a href="sub4.html?idx=41" concordia="temp/temp41.html">41</a></li>
                        <li><a href="sub4.html?idx=42" concordia="temp/temp42.html">42</a></li>
                        <li><a href="sub4.html?idx=43" concordia="temp/temp43.html">43</a></li>
                        <li><a href="sub4.html?idx=44" concordia="temp/temp44.html">44</a></li>
                        <li><a href="sub4.html?idx=45" concordia="temp/temp45.html">45</a></li>
                        <div class="sideCall">
                            <h4>CALL CENTER</h4>
                            <p>
                                평 일 : AM9 ~ PM6<br>
                                주 말 : AM9 ~ PM5<br>
                                TEL : 031-608-5656<br>
                                H P : 010-9582-2003
                            </p>
                        </div>
                    </ul><!--end idName lnb-->
                    <a class="toTop" href="#top">
                        <div id="triangle">
                            <div>TOP</div>
                        </div>
                    </a>
                    <ul id="collectedLink"></ul>
                </div><!--/////// End idName rightSide-->
            </div>
        </main>
    </div><!--/////////////// End className bgContainer(main)-->
    <div id="footer" class="bgContainer bgContainer4">
    </div><!--/////////////// End className bgContainer(footer-->
</body>
</html>