<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>콩코디아 Concordia</title>
    <link rel="shortcut" href="favicon.ico" />
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="jquery/jquery-1.4.4.min.js"></script>
    <script src="jquery/jquery.easing.1.3.js"></script>
    
    <script type="text/javascript" src="js/main-slide.js"></script>
</head>
<body>
    <div id="header" class="bgContainer">
        <div id="bgTopHLine"></div>
        <header class="container">
            <div id="logo">logo</div>
            <nav>
                <ul id="quickManu">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">즐겨찾기</a></li>
                </ul>
                <ul id="mainMenu">
                    <li><a href="#">CLC</a></li>
                    <li><a href="#">CIS</a></li>
                    <li><a href="#">Level 3 Foundation</a></li>
                    <li><a href="#">Sixth Form</a></li>
                    <li id="allViewBtn">
                        <a href="#"><img src="images/all_view_icon.png"></img></a>
                        <div id="allViewBox">
                            <h2>Concordia</h2>
                            <ul class="rowBox">
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CLC</h3>
                                        <li><a href="">리스트</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <h3 class="titleBox">Title</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CIS</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Level 3 Foundation</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Sixth Form</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>Fun Learning</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <section class="container">
            시작
        </section>
    </div><!--/////////////// End className bgContainer(section)-->
    <div id="footer" class="bgContainer bgContainer4">
        <footer class="container container4">
            <ul id="foot">
                <li class="footLogo"></li>
                <li class="terms">
                    <ul>
                        <li><a href="http://www.concordia.kr">HOME</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">제휴문의</a></li>
                        <li class="pullDown">
                            <h4>관련사이트&#9650;&#9660;</h4>
                            <ul class="familySite">
                                <li><a href="http://www.semtlenuri.com" target="_blank">셈틀누리</a></li>
                                <li><a href="http://www.stlibrary.co.kr" target="_blank">셈틀라이브러리</a></li>
                                <li><a href="http://www.semtlelibrary.co.kr" target="_blank">셈틀영어도서관</a></li>
                                <li><a href="http://www.jbmath.co.kr" target="_blank">배종수 수학</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="address">
                        <spon>회사명 : 셈틀누리 대표 : 홍영희</spon>
                        <spon>주소 : 경기도 성남시 분당구 정자동 24번지</spon>
                        <spon>사업자등록번호 : 120-11-60991</spon>
                        <spon>통신판매신고 : 제2010-경기성남-0539호</spon>
                        <spon>E-mail : smsemtle@naver.com</spon>
                        <spon>ⓒCopyright by semtlenuri</spon>
                    </p>
                </li>
                <li class="callCenter">
                    <h3>고객센터</h3>
                    <p>
                        TEL : 031-608-5656<br>
                        H P : 010-9582-2003<br>
                        평 일 : AM9 ~ PM6<br>
                        주 말 : AM9 ~ PM5
                    </p>
                </li>
            </ul>
        </footer>
    </div><!--/////////////// End className bgContainer(footer-->
</body>
</html>