<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>콩코디아 Concordia</title>
    <link rel="shortcut" href="favicon.ico" />
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="jquery/jquery-1.4.4.min.js"></script>
    <script src="jquery/jquery.easing.1.3.js"></script>
    
    <script type="text/javascript" src="js/main-slide.js"></script>
</head>
<body>
    <div id="header" class="bgContainer">
        <div id="bgTopHLine"></div>
        <header class="container">
            <div id="logo">logo</div>
            <nav>
                <ul id="quickManu">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">즐겨찾기</a></li>
                </ul>
                <ul id="mainMenu">
                    <li><a href="#">CLC</a></li>
                    <li><a href="#">CIS</a></li>
                    <li><a href="#">Level 3 Foundation</a></li>
                    <li><a href="#">Sixth Form</a></li>
                    <li id="allViewBtn">
                        <a href="#"><img src="images/all_view_icon.png"></img></a>
                        <div id="allViewBox">
                            <h2>Concordia</h2>
                            <ul class="rowBox">
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CLC</h3>
                                        <li><a href="">리스트</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <h3 class="titleBox">Title</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">CIS</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Level 3 Foundation</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="cloumnBox">
                                        <h3 class="titleBox">Sixth Form</h3>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                        <li><a href="">List</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>Fun Learning</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
    </div><!--/////////////// End className bgContainer(header)-->
    <div class="bgContainer">
        <section class="container">
            <div id="rollingBanner">
                <ul id="bannerMask">
                    <li>
                        <img src="../images/slide1.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Consulting</h2>
                            <p>Little drops of water make the mighty ocean.<br>작은 물방울이 힘 센 대양이 된다. (낙수 물이 바위를 뚫는다.)</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="../images/slide2.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Communication</h2>
                            <p>The road is always shorter when two people walk it.<br>길동무와 함께 하면 여정은 짧다.</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="../images/slide3.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Analysis</h2>
                            <p>The World that we live in is full of chance.<br>지금 살고 있는 세계는 기회로 가득 차 있다.</p>
                            <a href="#">More</a>
                        </div>
                    </li>
                    <li>
                        <img src="../images/slide4.png" alt="">
                        <div class="bannerText">
                            <h2>Learning Life Style</h2>
                            <p>The hardest work is to go idle.<br>가장 하기 힘든 일은 아무 일도 안하는 것이다. </p>
                            <a href="#">More</a>
                        </div>
                    </li>
                </ul>
                <div id="buttons">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>
    </div><!--/////////////// End className bgContainer(banner)-->
    <div class="bgContainer">
        <section class="container">
            <ul class="rowContents content1">
                <div id="rightColumn">
                    <div id="login">login</div>
                    <div id="notice">notice</div>
                </div>
                <li>
                    <h3>Concordia Language Center<span>CLC 콩코디아 언어 센터</span></h3>
                    <a href="#"><div class="colorRect colorRect1"></div></a>
                    <p>CLC는 콩코디아가 언어학습에 지진 영혼을 위해 달래기 위한 체계적인 학습방법을 지원합니다.</p>
                </li>
                <li>
                    <h3>Concordia International School<span>CIS 콩코디아 국제학교</span></h3>
                    <a href="#"><div class="colorRect colorRect2"></div></a>
                    <p>CIS는 국내에만 머문 언어학습의 단조로움을 현장의 생생한 경험을 간접적으로 경험할 수 있게 합니다.</p>
                </li>
                <li>
                    <h3>Level 3 Foundation<span>기초 3 단계</span></h3>
                    <a href="#"><div class="colorRect colorRect3"></div></a>
                    <p>미취학 아동은 첫 단추가 중요합니다. 어떻게 언어경험을 제공할까 고민하는 부모님을 위해서 최선을 다 합니다.</p>
                </li>
                <li>
                    <h3>Template<span>템플릿</span></h3>
                    <a href="#"><div class="colorRect colorRect4"></div></a>
                    <p>메타스타일</p>
                </li>
            </ul>
            <ul class="rowContents content2">
                <li>
                    <h3>Concordia Language Center<span>CLC 콩코디아 언어 센터</span></h3>
                    <a href="#"><div class="colorRect colorRect1"></div></a>
                    <p>CLC는 콩코디아가 언어학습에 지진 영혼을 위해 달래기 위한 체계적인 학습방법을 지원합니다.</p>
                </li>
                <li>
                    <h3>Concordia International School<span>CIS 콩코디아 국제학교</span></h3>
                    <a href="#"><div class="colorRect colorRect2"></div></a>
                    <p>CIS는 국내에만 머문 언어학습의 단조로움을 현장의 생생한 경험을 간접적으로 경험할 수 있게 합니다.</p>
                </li>
                <li>
                    <h3>Level 3 Foundation<span>기초 3 단계</span></h3>
                    <a href="#"><div class="colorRect colorRect3"></div></a>
                    <p>미취학 아동은 첫 단추가 중요합니다. 어떻게 언어경험을 제공할까 고민하는 부모님을 위해서 최선을 다 합니다.</p>
                </li>
                <li>
                    <h3>Sixth Form<span>6번째 폼</span></h3>
                    <a href="#"><div class="colorRect colorRect4"></div></a>
                    <p>식쓰 폼이 무언지 궁금하시죠! 그러면 상담받으세요. 직시 최선을 다합니다.</p>
                </li>
            </ul>
        </section>
    </div><!--/////////////// End className bgContainer(section)-->
    <div id="footer" class="bgContainer bgContainer4">
        <footer class="container container4">
            <ul id="foot">
                <li class="footLogo"></li>
                <li class="terms">
                    <ul>
                        <li><a href="http://www.concordia.kr">HOME</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">제휴문의</a></li>
                        <li class="pullDown">
                            <h4>관련사이트&#9650;&#9660;</h4>
                            <ul class="familySite">
                                <li><a href="http://www.semtlenuri.com" target="_blank">셈틀누리</a></li>
                                <li><a href="http://www.stlibrary.co.kr" target="_blank">셈틀라이브러리</a></li>
                                <li><a href="http://www.semtlelibrary.co.kr" target="_blank">셈틀영어도서관</a></li>
                                <li><a href="http://www.jbmath.co.kr" target="_blank">배종수 수학</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="address">
                        <spon>회사명 : 셈틀누리 대표 : 홍영희</spon>
                        <spon>주소 : 경기도 성남시 분당구 정자동 24번지</spon>
                        <spon>사업자등록번호 : 120-11-60991</spon>
                        <spon>통신판매신고 : 제2010-경기성남-0539호</spon>
                        <spon>E-mail : smsemtle@naver.com</spon>
                        <spon>ⓒCopyright by semtlenuri</spon>
                    </p>
                </li>
                <li class="callCenter">
                    <h3>고객센터</h3>
                    <p>
                        TEL : 031-608-5656<br>
                        H P : 010-9582-2003<br>
                        평 일 : AM9 ~ PM6<br>
                        주 말 : AM9 ~ PM5
                    </p>
                </li>
            </ul>
        </footer>
    </div><!--/////////////// End className bgContainer(footer-->
</body>
</html>